SECRET_KEY=troque-essa-chave-em-producao
DEBUG=False
ALLOWED_HOSTS=seudominio.com,www.seudominio.com
CSRF_TRUSTED_ORIGINS=https://seudominio.com,https://www.seudominio.com
DATABASE_URL=sqlite:///db.sqlite3
